.ctrl-grp {
  margin: 7px 0;
}

.ctrl-grp > label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.ctrl > input {
  display: block;
  padding: 5px;
  font-size: 14px;
  color: #555;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ctrl > input:focus {
  /*border-color: #800080;*/
  box-shadow: inset 0 0 3px rgba(128, 0, 128, .5);
  outline: 0;
}

.ctrl > input[disabled],
.ctrl > input[readonly],
fieldset[disabled] .ctrl > input {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
