@media screen and (max-device-width: 481px) {
  .sm-yes { display: block; }
  .sm-no { display: none; }
}

/* ipad portrait */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .page { width: 98%; }
  .md-land-yes { display: block; }
  .md-land-no { display: none; }
}

/* ipad landscape */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  .page { width: 95%; }
  .md-port-yes { display: block; }
  .md-port-no { display: none; }
}

/* large screen */
@media screen and (min-width: 1000px) {
  .page { max-width: 1000px; }
  .lg-yes { display: block; }
  .lg-no { display: none; }
}
